.card {
  height: 200px;
  width: 300px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  h1 {
    color: rgb(60, 60, 228);
  }
  form {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  input {
    font-size: 14px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: 5px;
    border-radius: 5px;
  }
  button {
    align-self: flex-end;
    background-color: white;
    color: rgb(60, 60, 228);
    font-weight: 600;
    border: 2px solid rgb(60, 60, 228);
    border-radius: 5px;
    &.disabled {
      color: gray;
      border: 2px solid gray;
    }
  }
}

#warning {
  color: red;
  font-size: 12px;
}
